<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <lineworkers>1</lineworkers>
    <copyworkers>10</copyworkers>
    <local_serverport>9090</local_serverport>

    <syncserver_ip>localhost</syncserver_ip>
    <syncserver_port>8908</syncserver_port>

    <largefilethreshold>5</largefilethreshold>
    <path>d:/ftp/upload/</path>
    <numtcpport>5</numtcpport>
    <vizone>
        <address>192.168.110.144</address>
        <user>admin</user>
        <pass>admin</pass>

        <ftp>
            <user>ardome</user>
            <pass>aidem630</pass>
            <root>d:/ftp</root>
        </ftp>
    </vizone>
</Config>